h1 {  
  text-align: center;  
  font-family: Arial, Helvetica, sans-serif;  
  color: #ff0000;
}

.abstract {  
  font-style: italic;  
  text-align: center;
}

h2 {  
  font-family: Arial, Helvetica, sans-serif;  
  background-color: #eeeeee;
}

h3 {  
  font-family: Arial, Helvetica, sans-serif;
}

th {
  background-color: #eeeeee;
  text-align: left;
  vertical-align: bottom;
}

td {
  vertical-align: baseline;
}

pre {
  margin-left: 40px;
}
